.posts-container {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 92%;
    height: 87%;
    border: 1px solid black;
    text-align: center;
    padding: 1.2%;
    margin: 3% 0 0 3%;
}

.posts-container__header {
    font-weight: 600;
    margin-right: 2%;
}