.post__info {
    border: 1px solid black;
    width: 90%;
    margin: 4%;
}

.post__title {
    font-weight: 600;
    margin: 2% 0 1.5% 0;
}

.post__bio {
    font-size: x-small;
    margin-bottom: 1%;
}