.contacts-container {
    grid-column: 2/3;
    grid-row: 2/4;
    width: 90%;
    height: 92.7%;
    margin-top: 4%;
    border: 1px solid black;
    text-align: center;
    padding: 2%;
}

.contacts-container > div { // all it's children, if content in container is greater/has children
    border: 1px solid;
    margin: 8% 0 5% 4.5%;
    width: 90%;
}

.contacts-container__header {
    font-weight: 600;
    font-size: large;
}
